--extra-index-url https://download.pytorch.org/whl/cu124
torch==2.6.0+cu124
torchvision==0.21.0+cu124
xformers==0.0.29.post2

pillow==10.2.0
imageio==2.37.0
imageio-ffmpeg==0.6.0
tqdm==4.67.1
easydict==1.13
ninja==1.11.1.3
trimesh==4.6.0
transformers==4.48.1
wheel==0.45.1
scikit-image==0.25.2

git+https://github.com/NVlabs/nvdiffrast.git

spconv-cu124==2.3.8
